
		<div class="col-xs-6 col-md-4">
			<a href="{{post.get_path}}" class="more_blog_img" style="background-image: url('{{post.get_field('blog_image')}}')">
				<span class="more_blog_img_overlay"><h3 class="more_blog_img_overlay_text">READ</h3></span>
			</a>
			<h3 class="content_title">{{post.title}}</h3>
			<h5 class="blog_date">{{post.date}}</h5>
		</div>
		<!--<div class="col-xs-6 col-md-4">
			<a href="#" id="more_blog_img_2" class="more_blog_img">
				<span class="more_blog_img_overlay"><h3 class="more_blog_img_overlay_text">READ</h3></span>
			</a>
			<h3 class="content_title">Baby's Got the Bends</h3>
			<h5 class="blog_date">August 12, 2016</h5>
		</div>
		<div class="col-xs-6 col-md-4">
			<a href="#" id="more_blog_img_3" class="more_blog_img">
				<span class="more_blog_img_overlay"><h3 class="more_blog_img_overlay_text">READ</h3></span>
			</a>
			<h3 class="content_title">Mendocino Hangs</h3>
			<h5 class="blog_date">December 31, 2016</h5>
		</div>-->