<section class="welcome-block">
	<div class="inner">
		<h3>{{welcome.post_title}}</h3>
		<p>{{welcome.get_content}}</p>
		<p>Follow me on <a href="https://www.twitter.com/{{welcome.twitter_handle}}">Twitter</a></p>
	</div>
</section>